<!DOCTYPE html>
<html>
<head>
  <title>
    Pdf2Jpg script
  </title>
</head>
<body>
  <h3>Pdf2Jpg</h3>
  <hr>
    {% if data %}
    {{data | safe}}
    {% endif %}
  <form action="/pdf2jpg/external/" method="post">
    {% csrf_token %}
    Input Pdf file:
    <input type="text" name="param1" required><br><br>
    Output directory:
    <input type="text" name="param2" required><br><br>
    {{data_external}}<br><br>
    {{data1|linebreaks}}<br><br>
    <input type="submit" value="Execute External Python Script">
  </form>
  <br><br>
  <a href="/">MAIN PAGE!</a>
</body>
</html>
