<!DOCTYPE html>
<html>
<head>
  <title>
    Main Page
  </title>
</head>
<body>
  <h3>Main Page</h3>
  <hr>
  <p>{{ komunikat }}</p>
  <a href="/pdf2jpg/">Pdf2Jpg!</a><br>
  <a href="/ocr_core/">Ocr Core!</a><br>
  <a href="/correct_skew_old/">Correct skew old!</a><br>
  <a href="/img_crop/">Img crop!</a><br>
  <a href="/fakt_morele/">Fakt morele!</a><br>
  <a href="/search_txt_6/">Search txt 6!</a><br>
  <a href="/angle_detection/">Angle detection!</a><br>
  <a href="/rotate/">Rotate!</a><br>
</body>
</html>
